* {
    box-sizing: border-box;
}
body {
    font-weight: bold;
    text-align: center;
}
#article, #aside, #footer, #header, #nav {
    padding: 20px;
}
#header {
    background-color: lightblue
}
#nav {
    background-color: grey
}
#footer {
    background-color: gold
}
#aside {
    background-color: tomato
}
#main {
    background-color: lightgreen
}
#article {
    background-color: lightgreen
}
#nav {
    display: flex;
}
    #nav a {
        text-decoration: none;
        color: black;
        flex: 1 1 auto;
    }
@media screen and (min-width:800px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: auto
    }
    #main {
        display: flex;
    }
    #nav, #header {
        order: -1;
    }
    #article {
        flex: 1 1 60%
    }
    #aside {
        flex: 1 1 30%
    }
}
